{% block accountAdded %}
  <h1>Account Added</h1>

  <p>Account number {{accountNumber}}, owned by {{customerName}}
     with number {{customerNumber}}, has been added.</p>

  <form method="post" action="/">
    <input type="submit" value="Ok">
  </form>
{% endblock %}