{% block addCustomer %}
  <h1>Add Customer</h1>

  <form method="post" action="/customerAdded">
    Name: <input type="text" id="customerName" name="customerName" autofocus="autofocus">
    <input type="submit" value="Ok" onClick="return validateName()">
  </form>

<script type="text/javascript" src="script.js"></script>


{% endblock %}